stages:
  - pre
  - build
  - build_coprocessor
  - build_example
  - deploy

before_script:
  - git submodule update --init --recursive

include:
  - '.gitlab/ci/templates.yml'
  - '.gitlab/ci/rules.yml'
  - '.gitlab/ci/scheduled_pipeline_jobs.yml'
  - '.gitlab/ci/merge_request_jobs.yml'
