stages:
  - pre
  - build
  - build_coprocessor
  - build_example
  - deploy

before_script:
  - git submodule update --init --recursive

include:
  - '.gitlab/ci/templates.yml'
  - '.gitlab/ci/rules.yml'
  - '.gitlab/ci/regression_pipeline_jobs.yml'
  - '.gitlab/ci/sanity_pipeline_jobs.yml'
  - '.gitlab/ci/pre_commit.yml'
