repos:
  - repo: local
    hooks:
    - id: version-checker
      name: ESP-Hosted Version Checker
      entry: tools/check_fw_versions.py
      language: python
      args: [ "--update" ]
      always_run: true
      pass_filenames: false
    - id: rpc-checker
      name: ESP-Hosted RPC Checker
      entry: tools/check_rpc_calls.py
      language: python
      always_run: true
      pass_filenames: false
    - id: changelog-checker
      name: ESP-Hosted Changelog Checker
      entry: tools/check_changelog.py
      language: python
      files: ^idf_component.yml$
    - id: esp-weak-function-checker
      name: ESP-Hosted Weak Function Checker
      entry: tools/check_weak_functions.py
      language: python
      args:
        - "--file"
        - "host/api/src/esp_wifi_weak.c"
        # add more files/functions like in below:
        # - "--file"
        # - "host/api/src/esp_extra_weak.c"
        # - "--functions"
        # - "esp_extra_foo,esp_extra_bar"
      files: ^host/api/src/.*\.c$
      pass_filenames: false
  - repo: https://github.com/espressif/check-copyright/
    rev: v1.1.1
    hooks:
      - id: check-copyright
        args: ['--config', 'tools/check_copyright_config.yaml']

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [--config=.codespellrc]
